@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans&display=swap');
@config "../tailwind.config.js";

@theme {
  --font-sans: 'Outfit', 'Plus Jakarta Sans', sans-serif;

  --color-primary: #fd6e0a;
  --color-secondary: #1a1a1a;

  --animate-blob: blob 7s infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

.animation-delay-4000 {
  animation-delay: 4s;
}